<div fxLayout="column" fxLayoutGap="20px" >
<div fxLayout="row" fxLayoutGap="20px" 
fxLayoutAlign="center center" >

    <div fxFlex="25" *ngFor="let w of widget  let index = index ; " >
        <mat-card   [id]="index" (click)="emitChange(index,w.orderWidget)" cdkDrag   (cdkDragEnded)="dragEnded(index,$event)"
        [ngStyle]="{
            'background': w.background,
            'color': w.color,
            'transform': 'translate3d('+ w.marginleft  +', '+ w.marginbottom +', 0px)' }"
            >{{w.titre}} 
        </mat-card>
    </div>
  
    </div>

 <!-- <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
  
    <div fxFlex="25">
        <mat-card>Simple card</mat-card>
    </div>
    <div fxFlex="25">
        <mat-card>Simple card</mat-card>
    </div>
    <div fxFlex="25">
        <mat-card>Simple card</mat-card>
    </div>
</div> -->
</div>
